# Entorno virtual
venv/
.venv/

# Variables de entorno 
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

*.pem
*.key


