# Virtual environment
venv/
.venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

*.pem
*.key


